@charset "UTF-8";

:root {
    --border: #c09c50;
    --bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 1.5rem 3rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 1px solid black ;
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.header section img {
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vh;
}

.navbar a {
    margin: 7px;
    font-size: 1.1rem;
    color: #000000;
}

.navbar a:hover {
    font-size: 1.05rem;
    color: black;
    transition: 0.2s;
    background-color: #F3AF05;
    border-radius: 4px ;
    border: 1px solid black;
    padding: 0px 5px;
    

}

.icons {
    padding: 0;
    margin: 0;
    
}

.icons img {
    margin: 0.8rem;
    cursor: pointer;
    transition: linear 0,2s;
    gap: 1rem;   
}

.home-container {
    background: url(images/empresa-de-pintura.png);
    background-position: center;
    background-size: cover;
}

/* Grave essa section, organiza todo o conteúdo do background */
.section {
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.content {
    max-width: 100rem;
}

.content h2 {
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    padding-bottom: 1rem;
}

.content p {
    font-size: large;
    width: 500px;
    text-align: justify;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.btn-orçamento {
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #A0D3E9;
    text-decoration: none;
    color: black;
    padding: 0 1rem;
}

.btn-orçamento:hover {
    font-size: 1.07rem;
    background-color: #F3AF05;

}

footer {
    background-color: #0896C7;
}

footer p {
    height: 3rem;
    color: white;
    text-align: center;
    justify-items: center;
}


