@charset "UTF-8";

:root {
    --main-color:;
    --border: #c09c50;
    --bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 1.5rem 3rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 1px solid black ;
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.header section img {
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    margin: 7px;
    font-size: 1.1rem;
    color: #000000;
}

.navbar a:hover {
    font-size: 1.2rem;
    color: #35A5BC;
    transition: 0.2s;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0px 5px;

}

.icons img {
    margin: 0.8rem;
    cursor: pointer;
    transition: linear 0,2s;
    gap: 1rem;
}

.btn {
    
}

.home-container {

}


